{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

  {% block field_sets %}
  <div class="edit-fieldsets" style="display:none;">
    {% for fieldset in adminform %}
      {% include "admin/includes/fieldset.html" %}
    {% endfor %}
  </div>
  {% endblock %}

  {% comment %} 字段集合之后 {% endcomment %}
  {% block after_field_sets %}{% endblock %}
  <div class="edit-fieldsets" style="display:none;">
    {% comment %} 渲染 linine {% endcomment %}
    {% block inline_field_sets %}
      {% for inline_admin_formset in inline_admin_formsets %}
          {% include inline_admin_formset.opts.template %}
      {% endfor %}
  </div>
  {% endblock %}


  {% comment %} 关系对象之后 {% endcomment %}
  {% block after_related_objects %}

    <div class="view-fieldsets" style="display:block;">
      {% for fieldset in adminform %}
        {% include "admin/modelform/author/includes/readonly_fieldset.html" %}
      {% endfor %}
    </div>

  {% endblock %}

  {% comment %} JS {% endcomment %}
  {% block admin_change_form_document_ready %}
      {{ block.super }}

  <script type="text/javascript">
      (function($) {

        function canEditForm() {
          $('.edit-fieldsets').attr('style', 'display:block;')
          $('#action-button').attr('style', 'display:block;')

          $('.view-fieldsets').attr('style', 'display:none;')
          $('#edit-button').attr('style', 'display:none;')
          $('#return-button').attr('style', 'display:inline-block;')
        }

        function onlyViewForm() {
          $('.edit-fieldsets').attr('style', 'display:none;')
          $('#action-button').attr('style', 'display:none;')

          $('.view-fieldsets').attr('style', 'display:block;')

          $('#edit-button').attr('style', 'display:block;')
          $('#return-button').attr('style', 'display:none;')
        }

        $('#edit-button').on('click', canEditForm);
        $('#return-button').on('click', onlyViewForm);

      })(django.jQuery);

  </script>

  {% endblock %}
