{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}

{% block admin_change_form_document_ready %}

    {{ block.super }}


    {% comment %} <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                django.jQuery("#id_province").empty();
            })
        })
    </script> {% endcomment %}


    <script type="text/javascript">

        django.jQuery(function() {
            var select = django.jQuery("#id_country");  // parent
            console.log(select);
            select.change(function(){
                // console.log("value change"+django.jQuery(this).val());
                var url = "/admin/address/address/get_provinces/"+django.jQuery(this).val(); // 能够正确的访问到view的url
                // console.log(url);
                django.jQuery.get(
                    url,
                    function(data){
                        var target = django.jQuery("#id_province");  // children
                        target.empty(); // 先清空
                        data.forEach(function(e){
                            // console.log(e, e.id, e.name);
                            target.append("<option value='"+e.id+"'>" + e.name + "</option>");
                            {% comment %} target.eq(0).attr('selected', 'true'); {% endcomment %}
                        });
                })
            });
 
        });
    </script>
    
{% endblock %}
