{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}


{% block field_sets %}
    {{ block.super }}
{% endblock %}


{% block after_related_objects %}

    {% comment %} {% for approval in next_approvals %}
        <input
            type="button"
            style="margin:2px;2px;2px;2px;"
            value="{{ approval.value }}"
            onclick="location.href='{{ approval.url }}'"
        />
    {% endfor %} {% endcomment %}

{% endblock %}


{% block admin_change_form_document_ready %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {{ block.super }}

    {% if original and original.is_wf_start %}
    <div>
        <form action="" method="post" id="workflow_form">
            {% csrf_token %}

            {% if original.can_suggestion %}
                <label style="display:block">{% trans "处理意见" %}：</label>
                <textarea name="memo" rows="3" cols="80" {% if original.is_suggestion_required %} required {% endif %}></textarea>
                <br>
            {% endif %}

            {% for approval in next_approvals %}
                <input class="workflow_btn" type="submit" value="{{ approval.value }}" url="{{ approval.url }}" style="float:left; padding:10px 15px; margin:5px"/>
                {% comment %} <input class="workflow_btn" type="button" value="{{ approval.value }}" url="{{ approval.url }}" style="padding: 10px 15px;"/> {% endcomment %}
            {% endfor %}

        </form>
    </div>

    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $(".workflow_btn").on("click", function() {
                    url = $(this).attr("url")
                    console.log(url)
                    $("#workflow_form").attr("action", url);
                });
            });
        })(django.jQuery);
    </script>
    {% endif %}

{% endblock %}
