[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=2.0,<3.0"
django-nameko = "*"
nameko = "==3.0.0rc9"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
