.bar-chart {
  height: 160px;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.bar-chart .bar {
  background-color: #79aec8;
  flex: 100%;
  align-self: flex-end;
  margin-right: 2px;
  position: relative;
}
.bar-chart .bar:last-child {
  margin: 0;
}
.bar-chart .bar:hover {
  background-color: #417690;
}

.bar-chart .bar .bar-tooltip {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  z-index: 999;
}
.bar-chart .bar .bar-tooltip {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
  opacity: 0;
}
.bar-chart .bar:first-child .bar-tooltip {
  transform: initial;
  text-align: initial;
  left: 0;
}
.bar-chart .bar:last-child .bar-tooltip {
  transform: initial;
  text-align: right;
  right: 0;
  left: initial;
}
.bar-chart .bar:hover .bar-tooltip {
  opacity: 1;
}
