[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]

[packages]
django = ">=2.0,<3.0"
djangorestframework = "*"
django-filter = "*"
pygments = "*"
coreapi = "*"
drf-yasg = "*"
pytz = "*"

[requires]
python_version = "3.6"
