{% extends 'admin/change_form.html' %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    <script type="text/javascript">
        (function($) {

            function handlerTypeChange() {
                v = $("input[name='handler_type']:checked").val();
                console.log(v)
                if(v=='users'){
                    // 指定用户
                    $('div.field-users').show();
                    $('div.field-positions').hide();
                    $('div.field-roles').hide();
                    $('div.field-orgunits').hide();
                    $('div.field-user_handler_sql').hide();
                    $('div.field-next_user_handler').hide();
                }else if(v=='positions'){
                    // 指定岗位
                    $('div.field-users').hide();
                    $('div.field-positions').show();
                    $('div.field-roles').hide();
                    $('div.field-orgunits').hide();
                    $('div.field-user_handler_sql').hide();
                    $('div.field-user_handler_function').hide();
                }else if(v=='roles'){
                    // 指定角色
                    $('div.field-users').hide();
                    $('div.field-positions').hide();
                    $('div.field-roles').show();
                    $('div.field-orgunits').hide();
                    $('div.field-user_handler_sql').hide();
                    $('div.field-user_handler_function').hide();
                }else if(v=='subbmiter'){
                    // 提交人
                    $('div.field-users').hide();
                    $('div.field-positions').hide();
                    $('div.field-roles').hide();
                    $('div.field-orgunits').hide();
                    $('div.field-user_handler_sql').hide();
                    $('div.field-user_handler_function').hide();
                }else if(v=='units'){
                    // 部门
                    $('div.field-users').hide();
                    $('div.field-positions').hide();
                    $('div.field-roles').hide();
                    $('div.field-orgunits').show();
                    $('div.field-user_handler_sql').hide();
                    $('div.field-user_handler_function').hide();
                
                }else if(v=='custom_function'){
                    // 自定义审批处理类
                    $('div.field-users').hide();
                    $('div.field-positions').hide();
                    $('div.field-roles').hide();
                    $('div.field-orgunits').hide();
                    $('div.field-user_handler_sql').hide();
                    $('div.field-user_handler_function').show();
                }else if(v=='custom_sql'){
                    // 自定义SQL
                    $('div.field-users').hide();
                    $('div.field-positions').hide();
                    $('div.field-roles').hide();
                    $('div.field-orgunits').hide();
                    $('div.field-user_handler_sql').show();
                    $('div.field-user_handler_function').hide();
                }
            }

            $("input[name='handler_type']").bind('click', function() {
                handlerTypeChange()
            });
            handlerTypeChange()

        })(django.jQuery);
    </script>

{% endblock %}
