{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}

{% block result_list %}

  {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}

{% comment %} 统计图 {% endcomment %}
{% if cl.model_admin.show_chart %}

<br>

{% comment %} {% timezone 'UTC' %} {% endcomment %}
<div class="results">
    <h2> {% blocktrans %} {{ chart_title }} {% endblocktrans %} </h2>
    <div class="bar-chart">
    {% for x in summary_over_time %}
        <div class="bar" style="height:{{ x.pct }}%">
            <div class="bar-tooltip">
                {{ x.total }}
                <br>
                {{ x.period_label }}
                {% comment %} {{ x.period | date:"d/m/Y H:i" }} {% endcomment %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% comment %} {% endtimezone %} {% endcomment %}
{% endif %}

  <br>

  {% result_list cl %}
  {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}

{% endblock %}
